@{
    Layout = "_AdminLayout";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800"><i class="fas fa-fw fa-cogs"></i> Data Jenis Simpanan</h1>

	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal"> <i class="fa fa-plus"></i> Tambah Data </button>
</div>

<div class="card shadow mb-4">
	<!-- /.card-header -->
	<div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary"><i class="fa fa-table"></i> Daftar Data Jenis Simpanan</h6>
	</div>

	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered" id="TableJenisSimpanan" width="100%" cellspacing="0">
				<thead class="bg-primary text-white" >
					<tr align="center">
						<th width="5%">No</th>
						<th>Jenis Simpanan</th>
						<th>Besar Simpanan</th>
						<th>User Entri</th>
						<th>Tanggal Entri</th>
						<th>Aksi</th>			
					</tr>
				</thead>
				<tbody>

				</tbody>
			</table>
		</div>
	</div>
</div>

<!--   Modals   -->


<!--   Modal (Tambah Data)   -->
<div class="modal fade" id="addModal" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="m-0 text-primary" id="exampleModalLabel"><i class="fas fa-fw fa-plus"></i> Tambah Data Jenis Simpanan</h5>
			</div>
			<div class="modal-body">

				<div class="row">
@*					<div class="form-group col-md-6">
						<label class="font-weight-bold">Kode Simpanan</label>
						<input autocomplete="off" type="text" name="kode_jenis_simpan" readonly required class="form-control"/>
					</div>*@

					<div class="form-group col-md-6">
						<label class="font-weight-bold">Jenis Simpanan</label>
						<input autocomplete="off" type="text" name="nama_simpanan" required class="form-control" />
					</div>

					<div class="form-group col-md-6">
						<label class="font-weight-bold">Besar Simpanan</label>
						<input autocomplete="off" type="number" name="besar_simpanan" required class="form-control" />
					</div>

					<div class="form-group col-md-6">
						<label class="font-weight-bold">User Entri</label>
						<input autocomplete="off" type="text" name="u_entry" readonly required class="form-control" />
					</div>

					<div class="form-group col-md-6">
						<label class="font-weight-bold">Tanggal Entri</label>
						<input autocomplete="off" value="@DateTime.Now" type="datetime" readonly required class="form-control" />
						@*<input autocomplete="off" type="text" name="tgl_entri" readonly required class="form-control"/>*@
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary"><i class="fa fa-save"></i> Simpan</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Tutup</button>
			</div>
		</div>
	</div>
</div>

<!--   Modal (Edit Data)  -->
<div class="modal fade" id="editModalSimpanan" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="m-0 text-primary" id="exampleModalLabel"><i class="fas fa-fw fa-edit"></i> Edit Data Jenis Simpanan</h5>
			</div>
			<div class="modal-body">

				<div class="row">
					<div class="form-group col-md-6">
						<label class="font-weight-bold">Kode Simpanan</label>
						<input autocomplete="off" type="text" name="kode_jenis_simpan" readonly required class="form-control" />
					</div>

					<div class="form-group col-md-6">
						<label class="font-weight-bold">Jenis Simpanan</label>
						<input autocomplete="off" type="text" name="nama_simpanan" required class="form-control" />
					</div>

					<div class="form-group col-md-6">
						<label class="font-weight-bold">Besar Simpanan</label>
						<input autocomplete="off" type="number" name="besar_simpanan" required class="form-control" />
					</div>

					<div class="form-group col-md-6">
						<label class="font-weight-bold">User Entri</label>
						<input autocomplete="off" type="text" name="u_entry" readonly required class="form-control" />
					</div>

					<div class="form-group col-md-6">
						<label class="font-weight-bold">Tanggal Entri</label>
						<input autocomplete="off" type="text" name="tgl_entri" readonly required class="form-control" />
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary"><i class="fa fa-save"></i> Simpan</button>
				<button type="reset" class="btn btn-info"><i class="fa fa-sync-alt"></i> Reset</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Tutup</button>
			</div>
		</div>
	</div>
</div>
