@{
	Layout = "_AdminLayout";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800"><i class="fas fa-fw fa-users"></i> Data Pengguna</h1>

	<button id="pengguna" type="button" class="btn btn-primary" > <i class="fa fa-plus"></i> Tambah Data </button>
</div>

<div class="card shadow mb-4">
	<!-- /.card-header -->
	<div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary"><i class="fa fa-table"></i> Daftar Data Pengguna</h6>
	</div>

	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered" id="TablePengguna" width="100%" cellspacing="0">
				<thead class="bg-primary text-white">
					<tr align="center">
						<th width="5%">No</th>
						<th>Kode User</th>
						<th>Nama User</th>
						<th>Nama</th>
						<th>Level</th>
						<th>Aksi</th>
					</tr>
				</thead>
				<tbody>

				</tbody>
			</table>
		</div>
	</div>
</div>

<!--   Modals   -->
<!--   Modal P.anggota-->


<!--   Modal (Edit Data)   -->
<div class="modal fade" id="editModalPengguna" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="m-0 text-primary" id="exampleModalLabel"><i class="fas fa-fw fa-edit"></i> Edit Data Anggota</h5>
			</div>
			<div class="modal-body">
				<div id="editDataAnggota">
				</div>
			</div>
		</div>
	</div>
</div>
