@{
	Layout = "_AdminLayout";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800"><i class="fas fa-fw fa-dolly-flatbed"></i> Data Transaksi</h1>
	<div>
		<a onclick="wajibPinjaman() " class="btn btn-success mr-1"> <i class="fa fa-plus"></i> Tambah Pinjaman</a>
		@*<a href="" class="btn btn-primary"> <i class="fa fa-print"></i> Print </a>*@
		<a href="../Transaksi" class="btn btn-secondary btn-icon-split"><span class="icon text-white-50"><i class="fas fa-arrow-left"></i></span>
			<span class="text">Kembali</span>
		</a>
	</div>
</div>

<div class="card shadow mb-4">
	<div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary"><i class="fa fa-table"></i> Daftar Data Pinjaman <span id="namaAnggotaPinjaman"></span> </h6>
	</div>

	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered text-center" id="TableTransaksiPinjaman" width="100%" cellspacing="0">
				<thead class="bg-primary text-white">
					<tr align="center">
						<th width="5%">No</th>
						<th>Kode Pinjam</a></th>
						<th>Tanggal Pinjam</a></th>
						<th>Jenis Pinjam</a></th>
						<th>Besar Pinjam</a></th>
						<th>Besar Angsuran</th>
						<th>Lama Angsuran</a></th>
						<th>Jatuh Tempo</a></th>
						<th>Status</a></th>
						<th>Aksi</a></th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
</div>        
